

<footer id="footer">



    <div class="container">
    /<div class="row justify-content-center">
    <div class="col-lg-6">
    
    </div>
    </div>
    </div>
    
    <div class="footer-top">
    <div class="container">
    <div class="row">
    
    <div class="col-lg-3 col-md-6 footer-contact">
    <h3><i class="fab fa-shirtsinbulk fa-2x" style="color: rgb(10, 14, 230);">Suvarn</i></h3>
    <p>

    
    <strong>Phone:</strong> +1 (437) 989 4172<br>
    <strong>Email:</strong> badkassuvarn@gmail.com<br>
    
    </div>
    
    <div class="col-lg-3 col-md-6 footer-links">
    <h4>Site map</h4>
    
    <ul>
    
    <li>
    <i class="bx bx-chevron-right"></i> <a href="/">Home</a> <a href="/aboutMe">About us</a> <a href="/service">Services</a> <a href="/p">Projects</a> <a href="/c">Contacts</a>
    </li>
    
 
    </ul>
    
    </div>
    
    

    
    </div>
    </div>
    </div>
    
    
    
    </footer>

<!-- Script section -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/scripts/app.js"></script>

