/**
* File name : bottom_nav
* Suvarn sanjay badkas
* Student ID 301176284
* Date: 07/02/2022
*/

<!-- Bottom Nav -->
<footer><nav class="navbar bottom navbar-dark bg-dark">
    <div class="container-fluid">
      <h6 class="display-10 navbar-text">&copy;Copyright 2022. All Rights reserved.</h6>
    </div>
  </nav>
</footer>