<% include partials/header.ejs  %>



<% include partials/main_nav.ejs  %>


<main>
    <!-- Container in top -->
    <section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">
    <!-- End of container in top -->
</main>
<body>
    <!-- About Section -->
    <section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">
    
    <div class="section-title">
    <h2>About Me</h2>
    <h3>My Introduction </h3>
    <h3> My name is <span> Suvarn Sanjay Badkas </span></h3>
    <p></p></div>
    <div class="row">
    <div class="col-lg-6" data-aos="zoom-out" data-aos-delay="100">
    <img src="\assets\images\IMG_20201210_163448.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100"><ul>
    <li>
    <i class="bx bx-right-arrow"></i>
    <div>
    <h4>I am currently pursuing a Fast track diploma at Centennial college.</h4></div>
    </li></ul>
    <ul>
    <li>
    <i class="bx bx-right-arrow"></i>
    <h4> I have Bachelors degree in Computer Science and Engineering From Parul University,India in June 2020</h4>
    </ul>
    </li>
    <ul>
    <li>
    <i class="bx bx-right-arrow"></i>
    <div><h4>I have also worked at KocharTech as technical support executive</h4>
    </div>
    </li>
    </ul>
    </div></div>
    </div>
    </section>
    <!-- End About Section -->
    
    
    <!-- Buttons of Download Resume -->
    <div class="center bg-dark">
    <a class="button1" href="\assets\images\RESUME.pdf"  role="button">Resume</a> 
    </div>
    <!-- End of buttons of Download Resume -->
    
    <!-- Skills Section -->
    <section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">
    
    <div class="section-title">
    <h2>SKILLS</h2>
    <p>I have strong coding knowledge.</p>
    <p>My areas of expertise are Artificial Intelligence and Python Programming.</p>
    <p>Below are highlights of my technical skills:</p>
    <section id="skills" class="skills">
    <div class="container" data-aos="fade-up">
    
    
    <div class="col-lg-12">
    
    <div class="progress">
    <span class="skill">Python<i class="val">80%</i></span>
    <div class="progress1">
    <div class="progress-bar progress-bar-striped progress-bar progress-bar-striped-striped" role="progressbar" style="width: 100%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    </div>
    
    <div class="progress">
    <span class="skill">JS/CSS/HTML <i class="val">50%</i></span>
    <div class="progress1">
    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    </div>
    
    <div class="progress">
    <span class="skill">C/C++<i class="val">70%</i></span>
    <div class="progress1">
    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    </div>
    
    <div class="progress">
    <span class="skill">Java<i class="val">65%</i></span>
    <div class="progress1">
    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 65% ;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100 bg-light"></div>
    </div>
    </div>
    
    </div>
    
    </div>
    </section><!-- End of Skills section -->
</body>
    
<% include partials/footer.ejs  %>
  
<% include partials/bottom_nav.ejs  %>


  