<% include partials/header.ejs  %>



<% include partials/main_nav.ejs  %>


<main>
    <section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">
    </main>   
    <body>
    <!-- ======= Project portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
    
    <div class="section-title">
    <h2>Projects</h2>
    <p></p>
    </div>
    
    <div class="row" data-aos="fade-up" data-aos-delay="100">
    <div class="col-lg-12 d-flex justify-content-center">
    <ul id="portfolio-flters">
    <li data-filter=".filter-web">Reseach Paper</li>
    </ul>
    </div>
    </div>
    
    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
    
    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <h4>Research Paper</h4>
    <p>Research Paper on Application build on Machine Learning</p>
    <P>Click on image to see</P>
    <a href="https://ijsrcseit.com/CSEIT206282"  style="right: 1px" class="details-link" title="More Details"><i class="bx bx-link"></i><img src="\assets\images\ml.png" class="img1" alt="sorry" width="100" height="100"></a>
    <div class="portfolio-info">
    
    
    </div>
    </div>
    </div>
    </div>
    </section>
    <!-- End  of project Portfolio Section -->


<% include partials/footer.ejs  %>

<% include partials/bottom_nav.ejs  %>


  