<% include partials/header.ejs  %>



<% include partials/main_nav.ejs  %>


<main>
    <!-- ======= Container in top ======= -->
    <section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">
    </main><!-- ======= End of container ======= -->
    
    <body>
    <!-- ======= Service page ======= -->
    <!-- First Card -->
    <section id ="about" class="about section-bg">
    <div class="section-title">
    <h2>Services</h2>
    <h3><span>What i have to offer</span></h3>
    <div class="services">
    <div class="service-1">
    <div class="shapes">
    <div class="shape-1 right"></div>
    <div class="shape-2 right"></div>
    <div class="shape-3 right"></div>
    </div>
    <div class="img">
    <img src="\assets\images\Web Dev-Blog.png" alt="IMAGE" width="100" height="100">
    </div>
    <div class="description">
    <h2> Web Development </h2>
    <p> Fully customise website </p>
    </div>
    <div class="shapes">
    <div class="shape-4"></div>
    <div class="shape-5"></div>
    <div class="shape-6"></div>
    </div>
    </div>
    
    <!-- Second Card -->
    <div class="service-1">
    <div class="shapes">
    <div class="shape-1 right"></div>
    <div class="shape-2 right"></div>
    <div class="shape-3 right"></div>
    </div>
    <div class="img">
    <img src="\assets\images\python-programming-language.png" alt="IMAGE" width="100" height="100">
    </div>
    <div class="description">
    <h2> Python Developer </h2>
    <p> Experience Python Developer and Knows frameworks of Python </p>
    </div>
    <div class="shapes">
    <div class="shape-4"></div>
    <div class="shape-5"></div>
    <div class="shape-6"></div>
    </div>
    </div>
    
    <!-- Third Card -->
    <div class="service-1">
    <div class="shapes">
    <div data-aos="zoom in"></div>
    <div class="shape-1 right"></div>
    <div class="shape-2 right"></div>
    <div class="shape-3 right"></div>
    </div>
    <div class="img">
    <img src="\assets\images\java.jpg" alt="IMAGE" width="100" height="100">
    </div>
    <div class="description">
    <h2> Java Developer </h2>
    <p> java coding and frameworks</p>
    </div>
    <div class="shapes">
    <div class="shape-4"></div>
    <div class="shape-5"></div>
    <div class="shape-6"></div>
    </div>
    </div>
    </div>
    </section><!-- ======= End of Service Page======= -->
    
    
    </body>
    

<% include partials/footer.ejs  %>
  
<% include partials/bottom_nav.ejs  %>

