

<% include partials/header.ejs  %>



<% include partials/main_nav.ejs  %>

<!-- Homepage body -->
</main>
<body>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="\assets\images\IMG_20201210_163448.jpg" class="d-block w-100" alt="my image" )>
      <div class="carousel-caption d-none d-md-block">
        <h1 >Suvarn's Protfolio</h1>
        <h2>I am a student of compuer science and aim to be Full stack Developer </h2>
        <p>Travel around the world in Different countries.</p>
        <p><a class="btn btn-primary" href="https://twitter.com/suvarn1314" role="button">Twitter</a>
           <a class="btn btn-primary" href="https://www.linkedin.com/in/suvarn-badkas-8aa5a1178/" role="button">LinkedIn</a>
        </p>
        
      </div>
    </div>
  </div>
  
</div>
</body>

<!-- Homepage body ends -->

<% include partials/footer.ejs  %>
  
<% include partials/bottom_nav.ejs  %>


  

  
 

  










